In [4]:
import pandas as pd

In [5]:
players= pd.read_csv('data/players_stats.csv')

In [6]:
del players['Rk']

### resolving players who played on multiple teams in the same season

In [7]:

duplicated = players.groupby(['Player', 'Year']).size().reset_index(name='count')


repeted = duplicated[duplicated['count'] > 1]
repeted

                     Player  Year  count
7                A.C. Green  1997      3
20              A.J. Lawson  2023      3
26               A.J. Price  2015      4
32             Aaron Brooks  2011      3
33             Aaron Brooks  2013      3
...                     ...   ...    ...
15596             Ömer Aşık  2018      3
15598  Šarūnas Jasikevičius  2007      3
15609             Žan Tabak  1998      3
15614       Žarko Čabarkapa  2005      3
15618        Željko Rebrača  2004      3

[1797 rows x 3 columns]

In [8]:
players[['Player','Team','Year']][players['Player']=='A.J. Price']

           Player Team  Year
10638  A.J. Price  IND  2010
11252  A.J. Price  IND  2011
11946  A.J. Price  IND  2012
12340  A.J. Price  WAS  2013
13243  A.J. Price  MIN  2014
13714  A.J. Price  3TM  2015
13715  A.J. Price  IND  2015
13716  A.J. Price  CLE  2015
13717  A.J. Price  PHO  2015

In [ ]:
players.groupby(['Player','Year'])

In [ ]:
def unique_player(df):
    if df.shape[0]==1:
        return df
    else:
        row = df[df['Team'].str.contains(r'^\d+TM$', na=False)]
        row['Team']=df.iloc[-1,:]['Team']
        return row

players = players.groupby(['Player','Year']).apply(unique_player).reset_index(drop=True)

In [ ]:
players[['Player','Team','Year']][players['Player']=='A.J. Price']

        Player Team  Year
21  A.J. Price  IND  2010
22  A.J. Price  IND  2011
23  A.J. Price  IND  2012
24  A.J. Price  WAS  2013
25  A.J. Price  MIN  2014
26  A.J. Price  PHO  2015

In [ ]:
players.head()

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
0,A.C. Green,26.0,LAL,PF,82.0,82.0,33.0,4.7,9.8,0.478,...,5.5,8.7,1.1,0.8,0.6,1.4,2.5,12.9,AS,1990
1,A.C. Green,27.0,LAL,PF,82.0,21.0,26.4,3.1,6.6,0.476,...,3.8,6.3,0.9,0.7,0.3,1.2,1.4,9.1,NaN,1991
2,A.C. Green,28.0,LAL,PF,82.0,53.0,35.4,4.7,9.8,0.476,...,5.6,9.3,1.4,1.1,0.4,1.4,1.7,13.6,NaN,1992
3,A.C. Green,29.0,LAL,PF,82.0,55.0,34.4,4.6,8.6,0.537,...,5.2,8.7,1.4,1.1,0.5,1.4,1.8,12.8,NaN,1993
4,A.C. Green,30.0,PHO,PF,82.0,55.0,34.5,5.7,11.3,0.502,...,5.8,9.2,1.7,0.9,0.5,1.2,1.7,14.7,NaN,1994

In [ ]:
mvp= pd.read_csv('data/mvp_stats.csv')
mvp.rename(columns={'player':'Player','year':'Year'}, inplace=True)

### mergin all players stats with mvp candidates stats

In [ ]:
combined=players.merge(mvp, how='outer', on=['Player','Year'])
combined.head()

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,per_game_pts,per_game_trb,per_game_ast,per_game_stl,per_game_blk,shooting_fgpct,shooting_3ppct,shooting_ftpct,advanced_ws,advanced_ws_per_48
0,A.C. Green,26.0,LAL,PF,82.0,82.0,33.0,4.7,9.8,0.478,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A.C. Green,27.0,LAL,PF,82.0,21.0,26.4,3.1,6.6,0.476,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A.C. Green,28.0,LAL,PF,82.0,53.0,35.4,4.7,9.8,0.476,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A.C. Green,29.0,LAL,PF,82.0,55.0,34.4,4.6,8.6,0.537,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A.C. Green,30.0,PHO,PF,82.0,55.0,34.5,5.7,11.3,0.502,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
print(combined.columns)
combined.head()

Index(['Player', 'Age', 'Team', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Awards',
       'Year', 'rank', 'age', 'tm', 'voting_first', 'voting_pts_won',
       'voting_pts_max', 'voting_share', 'g', 'per_game_mp', 'per_game_pts',
       'per_game_trb', 'per_game_ast', 'per_game_stl', 'per_game_blk',
       'shooting_fgpct', 'shooting_3ppct', 'shooting_ftpct', 'advanced_ws',
       'advanced_ws_per_48'],
      dtype='object')

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,per_game_pts,per_game_trb,per_game_ast,per_game_stl,per_game_blk,shooting_fgpct,shooting_3ppct,shooting_ftpct,advanced_ws,advanced_ws_per_48
0,A.C. Green,26.0,LAL,PF,82.0,82.0,33.0,4.7,9.8,0.478,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A.C. Green,27.0,LAL,PF,82.0,21.0,26.4,3.1,6.6,0.476,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A.C. Green,28.0,LAL,PF,82.0,53.0,35.4,4.7,9.8,0.476,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A.C. Green,29.0,LAL,PF,82.0,55.0,34.4,4.6,8.6,0.537,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A.C. Green,30.0,PHO,PF,82.0,55.0,34.5,5.7,11.3,0.502,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
combined[combined['voting_pts_won']>0]

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,per_game_pts,per_game_trb,per_game_ast,per_game_stl,per_game_blk,shooting_fgpct,shooting_3ppct,shooting_ftpct,advanced_ws,advanced_ws_per_48
210,Al Jefferson,29.0,CHA,C,73.0,73.0,35.0,9.6,18.8,0.509,...,21.8,10.8,2.1,0.9,1.1,0.509,0.200,0.690,7.8,0.146
366,Allen Iverson,21.0,PHI,PG,76.0,74.0,40.1,8.2,19.8,0.416,...,23.5,4.1,7.5,2.1,0.3,0.416,0.341,0.702,4.1,0.065
368,Allen Iverson,23.0,PHI,SG,48.0,48.0,41.5,9.1,22.0,0.412,...,26.8,4.9,4.6,2.3,0.1,0.412,0.291,0.751,7.2,0.173
369,Allen Iverson,24.0,PHI,SG,70.0,70.0,40.8,10.4,24.8,0.421,...,28.4,3.8,4.7,2.1,0.1,0.421,0.341,0.713,6.9,0.116
370,Allen Iverson,25.0,PHI,SG,71.0,71.0,42.0,10.7,25.5,0.420,...,31.1,3.8,4.6,2.5,0.3,0.420,0.320,0.814,11.8,0.190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15053,Vince Carter,23.0,TOR,SF,82.0,82.0,38.1,9.6,20.7,0.465,...,25.7,5.8,3.9,1.3,1.1,0.465,0.403,0.791,11.8,0.182
15054,Vince Carter,24.0,TOR,SF,75.0,75.0,39.7,10.2,22.1,0.460,...,27.6,5.5,3.9,1.5,1.1,0.460,0.408,0.765,12.9,0.208
15058,Vince Carter,28.0,NJN,SF,77.0,76.0,36.7,9.0,20.0,0.452,...,24.5,5.2,4.2,1.4,0.6,0.452,0.406,0.798,9.4,0.159
15459,Yao Ming,23.0,HOU,C,82.0,82.0,32.8,6.5,12.5,0.522,...,17.5,9.0,1.5,0.3,1.9,0.522,0.000,0.809,11.4,0.202
15464,Yao Ming,28.0,HOU,C,77.0,77.0,33.6,7.4,13.4,0.548,...,19.7,9.9,1.8,0.4,1.9,0.548,1.000,0.866,10.6,0.196

### droping repeated stats

In [ ]:
combined.drop(columns=['g', 'per_game_mp', 'per_game_pts',
       'per_game_trb', 'per_game_ast', 'per_game_stl', 'per_game_blk',
       'shooting_fgpct', 'shooting_3ppct', 'shooting_ftpct', 'rank', 'age', 'tm'], inplace=True)

### filling for no candidates players

In [294]:
combined.columns
combined[['voting_first', 'voting_pts_won',
       'voting_pts_max', 'voting_share', 'advanced_ws', 'advanced_ws_per_48']]=combined[['voting_first', 'voting_pts_won',
       'voting_pts_max', 'voting_share', 'advanced_ws', 'advanced_ws_per_48']].fillna(0)

In [295]:
combined['Team'].unique()

array(['LAL', 'PHO', 'DAL', 'MIA', 'CLE', 'WSB', 'MIL', 'CHI', 'GSW',
       'IND', 'WAS', 'MIN', 'BOS', 'ATL', 'HOU', 'DEN', 'ORL', 'NOH',
       'TOR', 'SAC', 'CHO', 'PHI', 'POR', 'DET', 'OKC', 'UTA', 'VAN',
       'SEA', 'NJN', 'NOK', 'LAC', 'CHA', 'MEM', 'NYK', 'NOP', 'BRK',
       'SAS', 'CHH'], dtype=object)

In [296]:
teams= pd.read_csv('data/team_stats.csv')

In [297]:
teams.head(40)
teams['Team'].unique()

array(['Philadelphia 76ers', 'Boston Celtics', 'New York Knicks',
       'Washington Bullets', 'Miami Heat', 'New Jersey Nets',
       'Detroit Pistons', 'Chicago Bulls', 'Milwaukee Bucks',
       'Cleveland Cavaliers', 'Indiana Pacers', 'Atlanta Hawks',
       'Orlando Magic', 'San Antonio Spurs', 'Utah Jazz',
       'Dallas Mavericks', 'Denver Nuggets', 'Houston Rockets',
       'Minnesota Timberwolves', 'Charlotte Hornets',
       'Los Angeles Lakers', 'Portland Trail Blazers', 'Phoenix Suns',
       'Seattle SuperSonics', 'Golden State Warriors',
       'Los Angeles Clippers', 'Sacramento Kings', 'Toronto Raptors',
       'Vancouver Grizzlies', 'Washington Wizards', 'Memphis Grizzlies',
       'New Orleans Hornets', 'Charlotte Bobcats',
       'New Orleans/Oklahoma City Hornets', 'Oklahoma City Thunder',
       'Brooklyn Nets', 'New Orleans Pelicans'], dtype=object)

In [298]:
abbr_to_team = {
    'PHI': 'Philadelphia 76ers',
    'BOS': 'Boston Celtics',
    'NYK': 'New York Knicks',
    'WSB': 'Washington Bullets',
    'WAS': 'Washington Wizards',
    'MIA': 'Miami Heat',
    'NJN': 'New Jersey Nets',
    'BRK': 'Brooklyn Nets',
    'DET': 'Detroit Pistons',
    'CHI': 'Chicago Bulls',
    'MIL': 'Milwaukee Bucks',
    'CLE': 'Cleveland Cavaliers',
    'IND': 'Indiana Pacers',
    'ATL': 'Atlanta Hawks',
    'ORL': 'Orlando Magic',
    'SAS': 'San Antonio Spurs',
    'UTA': 'Utah Jazz',
    'DAL': 'Dallas Mavericks',
    'DEN': 'Denver Nuggets',
    'HOU': 'Houston Rockets',
    'MIN': 'Minnesota Timberwolves',
    'CHA': 'Charlotte Hornets',
    'CHO': 'Charlotte Hornets',
    'CHH': 'Charlotte Bobcats',
    'LAL': 'Los Angeles Lakers',
    'POR': 'Portland Trail Blazers',
    'PHO': 'Phoenix Suns',
    'SEA': 'Seattle SuperSonics',
    'GSW': 'Golden State Warriors',
    'LAC': 'Los Angeles Clippers',
    'SAC': 'Sacramento Kings',
    'TOR': 'Toronto Raptors',
    'VAN': 'Vancouver Grizzlies',
    'MEM': 'Memphis Grizzlies',
    'NOH': 'New Orleans Hornets',
    'NOK': 'New Orleans/Oklahoma City Hornets',
    'NOP': 'New Orleans Pelicans',
    'OKC': 'Oklahoma City Thunder'
}

### some troubles with Charlotte team

In [299]:

teams['Year'][teams['Team']=='Charlotte Bobcats'].unique()

array([2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014])

### maping the abbreviation to get the complete name

In [300]:
combined.rename(columns={'Team':'Abbreviation'}, inplace=True)
combined['Team'] = combined['Abbreviation'].map(abbr_to_team)

### resolving the charlotte problems

In [301]:
years = [1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 
         2000, 2001, 2002, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]

abbrevs = ['CHA', 'CHO', 'CHH']

mask = (combined['Year'].isin(years)) & (combined['Abbreviation'].isin(abbrevs))

combined.loc[mask, 'Team'] = 'Charlotte Hornets'

In [302]:
years = [2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014]

abbrevs = ['CHA', 'CHO', 'CHH']

mask = (combined['Year'].isin(years)) & (combined['Abbreviation'].isin(abbrevs))

combined.loc[mask, 'Team'] = 'Charlotte Bobcats'

In [303]:
combined['Year'][combined['Team']=='Charlotte Hornets'].unique()

array([2016, 2017, 2015, 1993, 1994, 1995, 1990, 1992, 1996, 1997, 1998,
       2000, 2022, 2001, 2002, 2019, 2020, 2021, 1999, 2023, 2018, 1991])

In [304]:
combined['Abbreviation'].unique()

array(['LAL', 'PHO', 'DAL', 'MIA', 'CLE', 'WSB', 'MIL', 'CHI', 'GSW',
       'IND', 'WAS', 'MIN', 'BOS', 'ATL', 'HOU', 'DEN', 'ORL', 'NOH',
       'TOR', 'SAC', 'CHO', 'PHI', 'POR', 'DET', 'OKC', 'UTA', 'VAN',
       'SEA', 'NJN', 'NOK', 'LAC', 'CHA', 'MEM', 'NYK', 'NOP', 'BRK',
       'SAS', 'CHH'], dtype=object)

In [305]:
combined['Team'].unique()

array(['Los Angeles Lakers', 'Phoenix Suns', 'Dallas Mavericks',
       'Miami Heat', 'Cleveland Cavaliers', 'Washington Bullets',
       'Milwaukee Bucks', 'Chicago Bulls', 'Golden State Warriors',
       'Indiana Pacers', 'Washington Wizards', 'Minnesota Timberwolves',
       'Boston Celtics', 'Atlanta Hawks', 'Houston Rockets',
       'Denver Nuggets', 'Orlando Magic', 'New Orleans Hornets',
       'Toronto Raptors', 'Sacramento Kings', 'Charlotte Hornets',
       'Philadelphia 76ers', 'Portland Trail Blazers', 'Detroit Pistons',
       'Oklahoma City Thunder', 'Utah Jazz', 'Vancouver Grizzlies',
       'Seattle SuperSonics', 'New Jersey Nets',
       'New Orleans/Oklahoma City Hornets', 'Los Angeles Clippers',
       'Charlotte Bobcats', 'Memphis Grizzlies', 'New York Knicks',
       'New Orleans Pelicans', 'Brooklyn Nets', 'San Antonio Spurs'],
      dtype=object)

In [306]:
combined['Team'][pd.isna(combined['Team'])].unique()

array([], dtype=object)

### merging teams with all players stats

In [307]:
print(combined.shape)
stats=combined.merge(teams, how='left', on=['Team','Year'])
print(stats.shape)

(15615, 38)
(15615, 45)

In [308]:
stats['Team'][pd.isna(stats['W'])].unique()

array([], dtype=object)

In [309]:
stats.columns

Index(['Player', 'Age', 'Abbreviation', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA',
       'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'Awards', 'Year', 'voting_first', 'voting_pts_won', 'voting_pts_max',
       'voting_share', 'advanced_ws', 'advanced_ws_per_48', 'Team', 'W', 'L',
       'W/L%', 'GB', 'PS/G', 'PA/G', 'SRS'],
      dtype='object')

In [310]:
stats=stats.apply(pd.to_numeric, errors='ignore')
stats.dtypes

C:\Users\57300\AppData\Local\Temp\ipykernel_23620\3081442885.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  stats=stats.apply(pd.to_numeric, errors='ignore')

Player                 object
Age                   float64
Abbreviation           object
Pos                    object
G                     float64
GS                    float64
MP                    float64
FG                    float64
FGA                   float64
FG%                   float64
3P                    float64
3PA                   float64
3P%                   float64
2P                    float64
2PA                   float64
2P%                   float64
eFG%                  float64
FT                    float64
FTA                   float64
FT%                   float64
ORB                   float64
DRB                   float64
TRB                   float64
AST                   float64
STL                   float64
BLK                   float64
TOV                   float64
PF                    float64
PTS                   float64
Awards                 object
Year                    int64
voting_first          float64
voting_pts_won        float64
voting_pts_max        float64
voting_share          float64
advanced_ws           float64
advanced_ws_per_48    float64
Team                   object
W                       int64
L                       int64
W/L%                  float64
GB                     object
PS/G                  float64
PA/G                  float64
SRS                   float64
dtype: object

In [311]:
stats['GB'].unique()

array(['—', '5.0', '14.0', '23.0', '7.0', '40.0', '42.0', '18.0', '6.0',
       '24.0', '26.0', '37.0', '29.0', '21.0', '28.0', '13.0', '25.0',
       '8.0', '19.0', '3.0', '1.0', '17.0', '15.0', '9.0', '2.0', '35.0',
       '20.0', '11.0', '16.0', '41.0', '12.0', '50.0', '10.0', '30.0',
       '34.0', '4.0', '1.5', '22.0', '51.0', '36.0', '43.0', '39.0',
       '18.5', '31.0', '48.0', '46.0', '10.5', '32.0', '38.0', '27.0',
       '33.0', '21.5', '45.0', '22.5', '25.5', '3.5', '20.5', '11.5',
       '44.0', '52.0', '56.0', '2.5', '12.5', '47.0', '32.5', '4.5'],
      dtype=object)

In [312]:
stats['GB'].fillna(0, inplace=True)
stats['GB'] = stats['GB'].replace('—', 0, regex=False)
stats['GB'] = pd.to_numeric(stats['GB'])

C:\Users\57300\AppData\Local\Temp\ipykernel_23620\4019320113.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  stats['GB'].fillna(0, inplace=True)

In [313]:
stats.dtypes

Player                 object
Age                   float64
Abbreviation           object
Pos                    object
G                     float64
GS                    float64
MP                    float64
FG                    float64
FGA                   float64
FG%                   float64
3P                    float64
3PA                   float64
3P%                   float64
2P                    float64
2PA                   float64
2P%                   float64
eFG%                  float64
FT                    float64
FTA                   float64
FT%                   float64
ORB                   float64
DRB                   float64
TRB                   float64
AST                   float64
STL                   float64
BLK                   float64
TOV                   float64
PF                    float64
PTS                   float64
Awards                 object
Year                    int64
voting_first          float64
voting_pts_won        float64
voting_pts_max        float64
voting_share          float64
advanced_ws           float64
advanced_ws_per_48    float64
Team                   object
W                       int64
L                       int64
W/L%                  float64
GB                    float64
PS/G                  float64
PA/G                  float64
SRS                   float64
dtype: object

In [314]:
stats.to_csv('data/combined_stats.csv', index=False)

In [317]:
stats[stats['Player'].isna()].head()

Empty DataFrame
Columns: [Player, Age, Abbreviation, Pos, G, GS, MP, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, eFG%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS, Awards, Year, voting_first, voting_pts_won, voting_pts_max, voting_share, advanced_ws, advanced_ws_per_48, Team, W, L, W/L%, GB, PS/G, PA/G, SRS]
Index: []

[0 rows x 45 columns]